# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=patientqa
DB_USER=admin
DB_PASSWORD=secret

# Models
MODEL_RETRIEVAL=llama-3.1-8b-instant
MODEL_REASONING=openai/gpt-oss-120b
MODEL_PROMPT_REASONING_MAX_TOKENS=4000
MODEL_PROMPT_INJECTION=llama-3.1-8b-instant
# Non-chat Clf Model. Returns probability soore. Not suitable for domain specific filtering
#MODEL_PROMPT_INJECTION=meta-llama/llama-prompt-guard-2-22m

# JWT
JWT_SECRET=super-secret-jwt-key-change-in-production

# Groq
GROQ_API_KEY=your-groq-api-key-here

# App
PORT=3000
